img{
    height: 70px;
    width: 70px;
}


.carbonara{
    height: fit-content;
    width: fit-content;
}

/* body{
    background-color: grey;
} */

header{
    padding-bottom: 20px;
    background-image: url(./osteria\ romana\ \(1\).png) ; 
    height: fit-content;
    color: white;
    /* background-repeat: no-repeat; */
}

